.base{
    display: flex;
    justify-content: center;
    align-items: center;
    background:linear-gradient(rgba(111,42,243,0.3), rgba(0,0,0,0.9)), url("../img/login/fondo1.jpg");
    background-size: cover;
    height: 100vh;
}

.contenedor{
    max-height: 100%;
    width: 420px;
    max-width: 90%;
    background: transparent;
    backdrop-filter: blur(20px);
    color: white;
    padding: 20px;
    border: solid;
    border-radius: 8px;
    border-color: rgba(255, 255, 255, 0.2);
}

.contenedor h1{
    font-size: 36px;
    text-align: center;
}

.contenedor .input-box{
    position: relative;
    width: 100%;
    height: 50px;

    margin: 30px 0;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: 3px solid rgba(255, 255, 255, 0.2);
    border-radius: 40px;
    color: white;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder{
    color: white;
}

.input-box i{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 25px;
}

.contenedor .registrarse{
    font-size: 15px;
    margin: -15px 0 15px;
    text-align: center;
}

.contenedor .registrarse p{
    display: inline;
}

.contenedor .boton{
    width: 100%;
    height: 45px;
    background-color: white;
    border: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    font-size: 16px;
    color: black;
    margin-bottom: 10px;

}

.contenedor .boton:hover{
    background-color: #6F2AF3;
    color: white;
}
