{% extends 'base.html' %}

{% block css %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/style_crear.css'%}">
{% endblock css %}

{% block contenido %}
{%for mensaje in messages%}
			<div class="alert alert-success alert-dismissible fade show" role="alert">
				 {{ mensaje }}
				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>
			{%endfor%}
<div class="base">
  <form class="contenedor" action="" method="post" enctype="multipart/form-data">{% csrf_token %}
  <h3 class="mb-4">Crear Emprendimiento</h3>
    {{form.as_div}}
    <p><input type="submit" class="btn btn-primary btn-block" value="Confirmar"></p>
  </form>
</div>

{% endblock contenido %}