{% extends 'base.html' %}
{% block css%}
{% load static %}


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link rel="stylesheet" href="{% static 'css/style_detalles.css'%}">
{%endblock%}
{% block contenido %}

<div class="base">
	<div class="contenedor">
		<div class="mensaje text-center">
			{%for mensaje in messages%}
			<div class="alert alert-success alert-dismissible fade show" role="alert">
				 {{ mensaje }}
				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>
			{%endfor%}
		</div>
		<div class="detalles">
			<h1 class="titulos">{{emprendimientos.titulo}}</h1>
			<h4 class="resumen">{{emprendimientos.resumen}}</h4>
			<div class="cont">
				<div class="cont-img">
					<img class="img-empr" src="{{emprendimientos.imagen.url}}" alt="foto de emprendimiento">
				</div>
				<p class="contenido">{{emprendimientos.contenido}}</p>
				<div class="botones">
					{%if emprendimientos.autor == user%}
						<a href="{% url 'empr:editar_emprendimientos' emprendimientos.pk%}" class="btn btn-outline-primary text-center">editar</a>
						<!-- Button trigger modal -->
							<button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#staticBackdrop1">
								Eliminar
							  </button>

						{%endif%}
						<!-- <a href="{%url 'empr:eliminar_emprendimiento' emprendimientos.pk%}" class="btn btn-info text-center">eliminar</a> -->
						<!-- Modal -->

				</div>
			</div>
			<div class="info">
				<p class="autores">AUTOR: {{emprendimientos.autor}}</p>
				<p class="categorias">CATEGORIA: {{emprendimientos.categoria}}</p>
				{% if emprendimientos.get_modificado_naturaltime != emprendimientos.get_creado_naturaltime %}
				<p class="fecha">FECHA: {{emprendimientos.get_creado_naturaltime}}</p>
        		<p class="fecha">Editado: {{emprendimientos.get_modificado_naturaltime}}</p>
				{%else%}
				<p class="fecha">FECHA: {{emprendimientos.get_creado_naturaltime}}</p>
    			{% endif %}

			</div>
			<!-- Acá van a ir los comentarios -->

			<div class="cont-com">
				{%for com in emprendimientos.MisComentarios%}
				<div class="com">
					<div class="datos">
						<div class="nombre">
							<h5 class="usuario">{{com.usuario}}</h5>
							{% if com.get_modificado_naturaltime != com.get_creado_naturaltime %}
							<h5 class="fecha">Modificado {{ com.get_modificado_naturaltime }}</h5>
							{%else%}
							<h5 class="fecha">Creado: {{com.get_creado_naturaltime }}</h5>
							{% endif %}
						</div>
						{% if com.usuario|lower == user.username|lower%}
						<div class="opciones">
							<a class="editar abrir-modal abrir-modal-editar" href="#" data-comentario-id="{{com.pk}}" data-bs-toggle="modal" data-bs-target="#modal2">Editar</a>
							<a class="borrar abrir-modal" href="#" data-comentario-id="{{ com.pk }}" data-bs-toggle="modal" data-bs-target="#modal1">Borrar</a>
						</div>
						{%elif user.username|lower == emprendimientos.autor|lower%}
						<div class="opciones">
						<a class="borrar abrir-modal" href="#" data-comentario-id="{{ com.pk }}" data-bs-toggle="modal" data-bs-target="#modal1">Borrar</a>
						</div>
						{%endif%}
					</div>
					<div class="comentario">
						<p>{{com.texto}}</p>
					</div>
				</div>
				{%endfor%}

				{% if user.is_authenticated %}
				<form class="com" action="{% url 'comentarios:crear_comentario' emprendimientos.pk %}" method="post" id="comentario-form">
					{% csrf_token %}
					<div class="enviar-com">
						<div class="comentar-post">
							<textarea type="text" placeholder="Escribe un comentario" class="comentarios-textarea" name="comentario" id="textarea-comentario"></textarea>
						</div>
						<div class="boton-enviar">
							<button type="submit" class="btn btn-outline-primary text-center">Enviar</button>
						</div>
					</div>
				</form>
				{%else%}
				<div class="boton-comentario">
						<h3>¿Quieres realizar un comentario?</h3>
						<a href="{%url 'login'%}"><button class="btn btn-outline-primary text-center">Loguearme</button>
						<a href="{%url 'usuarios:registrar'%}"><button class="btn btn-outline-success text-center">Registrarme</button>
					</div>
				{%endif%}
			</div><!--Fin Comentarios-->
		</div>

	</div>
</div>
  <!--modal eliminar emprendimiento-->
<div class="modal fade" id="staticBackdrop1" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				  <p>Estas seguro que desa eliminar: <strong>"{{emprendimientos.titulo}}"?</strong></p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">close</button>
				<button class="btn btn-danger" id="eliminar-btn">Eliminar</button>
			</div>
		</div>
	</div>
</div>
  <!--modal eliminar comentario-->
  <div class="modal fade" id="modal1" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
	<div class="modal-dialog">
		  <div class="modal-content">
			<div class="modal-body">
				  <p>Estas seguro que desa eliminar este comentario?</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
				<button class="btn btn-danger" id="eliminar-comentario">Eliminar</button>
			</div>
		  </div>
	</div>
  </div>
  <!--modal editar comentario-->
  <div class="modal fade" id="modal2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
	<div class="modal-dialog">
		  <div class="modal-content">
			<div class="modal-body">
				<form id="editarComentarioForm">
				<textarea type="text" class="comentarios-textarea" name="comentario"></textarea>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" id="guardarCambiosComentario">Guardar Cambios</button>
			</div>
		  </div>
	</div>
  </div>
{% endblock contenido %}
{%block script%}
<script>

    $(document).ready(function() {
		//elminar articulo
        $("#eliminar-btn").on("click", function() {
            // Realizamos una solicitud POST al servidor para eliminar el emprendimiento
            $.ajax({
                type: "POST",
                url: "{% url 'empr:eliminar_emprendimiento' emprendimientos.pk %}",
                data: {
                    csrfmiddlewaretoken: "{{ csrf_token }}",
                },
                success: function(data) {
                    // Redireccionamos a la página de listar con el ID del emprendimiento eliminado
                    window.location.href = "{% url 'empr:listar_emprendimientos' %}?emprendimiento_id={{ emprendimientos.pk }}";
                },
                error: function() {
                    alert("Error al eliminar el emprendimiento.");
                }
            })
        });
		//fin eliminar articulo
		//crear comentario
		$("#comentario-form").on("submit", function(event) {
			event.preventDefault();
			// Obtener el texto del comentario
            var comentario = $("#comentario-form textarea").val().trim();

            // Verificar si el comentario está vacío
            if (comentario === "") {
                alert("Por favor, ingresa un comentario antes de enviarlo.");
                return;
            }
			// Realizamos una solicitud POST al servidor para crear el comentario
			$.ajax({
				type: "POST",
				url: $(this).attr('action'),
				data: $(this).serialize(),
				dataType: 'json',
				success: function(data) {
					// Redireccionamos o actualizamos la página, si es necesario, con el ID del comentario recién creado
					window.location.reload(); // Puedes personalizar esto según tu necesidad
				},
				error: function() {
					alert("Error al crear el comentario.");
				}
			});
		});
		//fin crear comentario
		//eliminar comentario
		// Variable global para almacenar el ID del comentario a eliminar
		var comentarioIdToDelete;

		// Escucha el evento de clic para el botón "Eliminar" dentro del modal
		$(".abrir-modal").on("click", function(event) {
    		event.preventDefault();

    	// Obtener el ID del comentario desde el atributo data-comentario-id
    	comentarioIdToDelete = $(this).data("comentario-id");

    	// Actualizar el atributo data-comentario-id del botón "Eliminar" dentro del modal
    	$("#eliminar-comentario").data("comentario-id", comentarioIdToDelete);
		});

		// Evento de clic para el botón "Eliminar" dentro del modal
		$("#eliminar-comentario").on("click", function() {
    	// Obtener el ID del comentario desde el atributo data-comentario-id del botón
    	var comentarioId = $(this).data("comentario-id");

    	// Realizar una solicitud AJAX para eliminar el comentario
    	$.ajax({
        type: "POST",
        url: "{% url 'comentarios:eliminar_comentario' %}",
        data: {
            csrfmiddlewaretoken: "{{ csrf_token }}",
            comentario_id: comentarioId
        },
        success: function(data) {
            // Si se eliminó correctamente, puedes actualizar la página o realizar otras acciones
            // Por ejemplo, si deseas actualizar la lista de comentarios, puedes recargar la página
            location.reload();
        },
        error: function() {
            alert("Error al eliminar el comentario.");
        }
    	});

		});
		/////////
		///////////
		///////////
		//fin eliminar comentario
		$(".abrir-modal-editar").on("click", function(event) {
			event.preventDefault();
			// Obtener el ID del comentario desde el atributo data-comentario-id
			var comentarioId = $(this).data("comentario-id");
			// Realizar una solicitud AJAX para obtener los detalles del comentario
			$.ajax({
				type: "GET",
				url: "{% url 'comentarios:detalle_comentario' %}",
				data: {
					comentario_id: comentarioId
				},
				success: function(data) {
					// Cargar los datos del comentario en el formulario del modal
					$("#editarComentarioForm textarea[name='comentario']").val(data.texto);
					// Actualizar el atributo data-comentario-id del botón "Guardar Cambios" dentro del modal
					$("#guardarCambiosComentario").data("comentario-id", comentarioId);
					// Abrir el modal
					$("#modal2").modal("show");
				},
				error: function() {
					alert("Error al obtener los detalles del comentario.");
				}
			});
		});

		//////////////////////////////////
		//////////////////////////////////// Evento de clic para el botón "Guardar Cambios" dentro del modal
$("#guardarCambiosComentario").on("click", function() {
    // Obtener el ID del comentario desde el atributo data-comentario-id del botón
    var comentarioId = $(this).data("comentario-id");

    // Obtener el contenido actualizado del comentario desde el formulario del modal
    var nuevoContenido = $("#editarComentarioForm textarea[name='comentario']").val().trim();

    // Verificar si el comentario está vacío
    if (nuevoContenido === "") {
        Alert("El comentario no puede estar vacío.");
        return;
    }

    // Realizamos una solicitud AJAX para actualizar el comentario
    $.ajax({
        type: "POST",
        url: "{% url 'comentarios:modificar_comentario' %}", // Reemplaza 'ruta_actualizacion_comentario' con la URL correspondiente en tu aplicación
        data: {
            csrfmiddlewaretoken: "{{ csrf_token }}",
            comentario_id: comentarioId,
            nuevo_contenido: nuevoContenido
        },
        success: function(data) {
            // Cerrar el modal después de guardar los cambios
            $("#modal2").modal("hide");

            // Recargar la página para mostrar el comentario actualizado
            location.reload();
        },
        error: function(xhr) {
            // Manejar los errores y mostrar el mensaje de error correspondiente
            var errorMessage = xhr.responseJSON ? xhr.responseJSON.error : "Error al guardar los cambios del comentario.";
            alert(errorMessage);
        }
    });
});


///////
    });
</script>


  {%endblock script%}