{% extends 'base.html' %}

{% block css %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/swiper-bundle.min.css' %}">
<link rel="stylesheet" href="{% static 'css/style_empr_listar.css'%}">

{% endblock css %}

{% block contenido %}

<div class="contenedor">
	<!-- Aquí puedes mostrar los detalles del emprendimiento si es necesario -->
	<div class="btn-todo">
		<a href="{%url 'empr:filtrar_orden' 'asc'%}"><button type="button" class="btn btn-danger">Todos los Emprendimientos</button></a>
	</div>
	
	{%for mensaje in messages%}
	<div class="alert alert-success alert-dismissible fade show" role="alert">
		<strong>Bien hecho!</strong> {{ mensaje }}
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	  </div>
	{%endfor%}

	<!--aqui termina el mensaje-->
{%if empr_cat.items%}
{% for categoria, emprendimientos in empr_cat.items %}
	<div class="categorias" style="background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url({{ categoria.imagen.url }});">
		
		<div class="row d-flex justify-content-around text-center">
			
			{%if categoria%}
			<div class="">
				
				<!-- acá va el nombre de cada categoría en automático -->
				<h2 class="titulo-cat">{{categoria.nombre}}</h2>
				
			</div>
			{%if num_emprendimientos == 0%}
			<h1>No hay Emprendimientos disponibles</h1>
			<h2>Por favor agregue 1</h2>
			{%else%}
			<div class="slide-container swiper">
			<div class="slide-content">
				<div class="card-wrapper swiper-wrapper">
					{%for emprendimimento in emprendimientos%}
					<div class="card swiper-slide" style="border: none;">
						<a href="{% url 'empr:detalle_emprendimiento' emprendimimento.pk %}">
						<div class="img-content" style="background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)) ,url({{emprendimimento.imagen.url}}); background-size: cover;">
							<img src="{{emprendimimento.imagen.url}}" alt="foto">

						</div>
						<div class="card-content">
							<h2 class="titulo">{{emprendimimento.titulo}}</h2>
							<p class="name">{{emprendimimento.resumen}}</p>
						</div>
					</a>
					</div>
					{%endfor%}
				</div>
			</div>
			<div class="swiper-button-next swiper-navBtn"></div>
			<div class="swiper-button-prev swiper-navBtn"></div>
			<div class="swiper-pagination"></div>
			</div>
			{%endif%}
		</div>
		
	</div>

	{%endif%}
{% endfor %}
{%else%}
<h1 clas="no-disponible">No hay emprendimientos disponibles en esta sección</h1>
{%endif%}
</div>

{% endblock contenido %}
