.base{
    display: flex;
    justify-content: center;
    background:linear-gradient(rgba(111,42,243,0.3), rgba(0,0,0,0.9)), url("../img/login/fondo1.jpg");
    background-size: cover;
    height: 100%;
}

.contenedor{
    margin: 5%;
    width: 800px;
    max-width: 95%;
    height: 100%;
    background: transparent;
    backdrop-filter: blur(20px);
    color: white;
    padding: 10px;
    border: solid;
    border-radius: 8px;
    border-color: rgba(255, 255, 255, 0.2);
}

.detalles{
    text-align: center;
}

.resumen{
    margin-top: 40px;
}

.titulos{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.cont{
    padding: 20px;
    border: solid;
    border-radius: 8px;
    border-color: rgba(255, 255, 255, 0.2);

}

.cont-com{
    padding: 10px;
    border: solid;
    border-radius: 8px;
    border-color: rgba(255, 255, 255, 0.2);
}

.cont-img{
    height: 250px;
}

.img-empr{
    margin: auto;
    max-width: 100%;
    max-height: 100%;
}

.contenido{
    text-align: justify;
    margin-top: 20px;
}

.info{
    display: flex;
    justify-content: space-between;
    border: solid;
    border-radius: 8px;
    border-color: rgba(255, 255, 255, 0.2);
    margin: 20px 0px;
    padding: 20px;
}

.autores, .categorias, .fecha{
    margin: 0;
}

.botones{
    display: flex;
    justify-content: space-between;
}


/* Estilo de los comentarios */
.comentarios-textarea{
    display: block;
    width: 100%;
    height: 15vh;
    margin-bottom: 1.7rem;
    padding: 10px;
    border-style: solid;
    border-color: hsl(204, 8%, 88%);
    border-radius: 10px;
    box-shadow: 0 -5px 15px rgba(0, 0, 0, 0.5);
}

.com{
    border: solid;
    border-color: rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    margin: 0px 0px 10px 0px;
}



.datos{
    display:flex;
    justify-content: space-between;
    padding: 10px 10px;
    border-bottom: solid;
    border-color: rgba(255, 255, 255, 0.2);
}

.nombre{
    display: flex;
}

.nombre .usuario, .nombre .fecha{
    margin: 0px 20px 0px 0px;
}

.opciones .editar, .opciones .borrar{
    margin: 0px 0px 0px 5px;
    padding: 1px;
    border: solid;
    border-width: 1px;
    border-radius: 3px;
}

.opciones .borrar{
    color: red;
}

.borrar:hover{
    background: red;
    color: white;
    border-color: red;
}

.editar:hover{
    background: #03658c;
    color: white;
    border-color: #03658c;
}


.nombre .usuario{
    display: flex;
    align-items: center;
}

.nombre .fecha{
    display: flex;
    align-items: center;
    font-size: 12px;
}

.comentario{
    padding: 10px;
}

.comentario p{
    margin: 0;
    text-align:start;
}

.enviar-com{
    display: flex;
    justify-content: space-between;
}

.comentar-post{
    width: 100%;
    padding: 5px 0px 5px 5px;
}
.boton-enviar{
    padding: 5px;
    display: flex;
    align-content: center;
    justify-content: center;

}

.comentar-post textarea {
    width: 100%;
    height: 100%;
    color: white;
    border: solid;
    border-color: rgba(255, 255, 255, 0.2);
    border-width: 1px;
    border-radius: 4px;
    background: transparent;
    padding: 5px;
}

.boton-comentario, a, button:nth-of-type(1){
    margin-left: 0.4rem;
}
