{% extends 'base.html' %}
{% load static %}

{%block css%}
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
{%endblock css%}
{% block contenido %}
    <h1 class="titulo-sobre-nosotros">Sobre Nosotros</h1>

    <!-- Enlace a la hoja de estilos de Swiper -->


        <!-- Diapositiva -->
        <li class="swiper-slide ag-slide_item" data-swiper-autoplay="1500" data-swiper-slide-index="2">
          <img src="https://i.imgur.com/M030K36.png" class="ag-slide_img" alt="hernan mayol">
          <div class="ag-slide_info clearfix">
            <div class="ag-slide-info_descr">
              <small class="ag-slide-info_category"></small>
              <h6 class="ag-slide-info_title">Hernan Mayol</h6>
            </div>
            <div class="ag-slide-info_rate">
              <b class="ag-slide-info_strong">23 AÑOS</b>
              <span class="ag-slide-info_comments">Hola, me llamo Hernan. Vivo en Corrientes Argentina, soy estudiante de programacion y en la facultad de Licenciatura en Sistemas de la Informacion, y me interesa aprender mucho mas sobre el desarrollo web y lo que me ofrezcan para poder enriquecer mis conocimientos</span>
            </div>
          </div>
        </li>

            <!-- Agregar controles de navegación del slider -->
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
    </div>

{% endblock contenido %}

{%block script%}
    <!-- Enlace al archivo de jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Enlace al archivo de Swiper -->
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script>
        // Configurar el slider cuando el documento esté listo
        $(document).ready(function () {
            // Inicializar el slider de Swiper
            var mySwiper = new Swiper('.swiper-container', {
                // Configuración del slider
                slidesPerView: 'auto',
                spaceBetween: 5,
                loop: true,
                navigation: {
                    nextEl: '.swiper-button-next',
                    prevEl: '.swiper-button-prev',
                },
                autoplay: {
                    delay: 3500,
                },
            });
        });
    </script>
{%endblock script%}

